/* Load font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
	background-image: linear-gradient(320deg, #03abff, #44118c);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

nav {
	background-image: linear-gradient(to right, rgba(78, 3, 252, 0.5), rgba(74, 0, 247, 0.5));
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a {
	font-family: 'Source Sans Pro', sans-serif;
}

#content-border {
	height: 0.5%;
	width: 100%;
	background-image: linear-gradient(to left, #2100f7, #4a00f7);
}

#image-container {
	height: 100%;
	width: 100%;
}

#background-img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -2;
}


#woman-img {
	position: relative;
	z-index: -1;
	height: 100%;
	float: right;
	top: 10%;
}

#img-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2.5em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#img-header > img {
	height: 1.5em;
	width: 1.5em;
}

#about {
	width: 100%;
}

#card-container {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 60%;
	display: flex;
}

.card {
	width: 32%;
	background-image: linear-gradient(320deg, rgba(14, 107, 194, 0.9), rgba(7, 129, 242, 0.9));
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	border-radius: 10px !important;
	margin: auto;
	flex: 1;
}

.card h5 {
	font-size: 2em;
}

.card > img {
	width: 50%;
	margin: auto;
	padding-top: 8%;
}

#card-limitless, #card-anywhere {
	margin-left: 1.2%;
}

@media only screen and (max-width: 768px) {
	#image-container {
		text-align: center;
		height: 40%;
	}

	#background-img {
		height: 40%;
	}

	#img-header {
		display: inline-block;
		width: 100%;
		font-size: 2em;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -20%);
	}

	#woman-img {
		display: none;
	}

	#content-border {
		display: none;
	}

	.card {
		width: 100%;
		flex: 0;
	}

	#card-container {
		display: block;
		width: 80%;
	}

	#card-limitless, #card-anywhere {
		margin-left: 0%;
		margin-top: 10%;
	}
}